body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Header */

header {
  overflow: hidden;
}

header .row {
  display: block;
  overflow: hidden;
}

h1.logo {
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
  margin: 10px 0;
  padding-right: 20px;
  float: left;
}

.stats {
  margin: 10px 0;
  float: left;
}
.stats strong {
  font-weight: 700;
}

/* Languages */

.languages .list {
  -webkit-columns: 6 150px;
     -moz-columns: 6 150px;
          columns: 6 150px;
}

.languages .list .count {
  color: rgb(200, 200, 200);
}

/* Query */

.query-input {
  height: 40px;
  width: 320px;
  font-size: 22px;
  padding: 6px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 2px;
  margin-right: 10px;
}

.submit {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  border: 0;
  vertical-align: top;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
  background-color: rgb(61, 134, 247);
  color: white;
  font-weight: 100;
  border-radius: 2px;
}

/* Results */

.results.title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;
}
.results.title.empty {
  color: #C52A20;
  margin: 60px 0;
}

.result {
  border: 2px dashed rgba(0, 0, 0, 0.1);
  padding: 20px;
  line-height: 1.5;
}
.result > .name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.result .description {
  margin: 10px;
}
.result .description:first-letter {
  float: left;
  font-size: 40px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.result .title {
  font-weight: 700;
}
.result > ul {
  margin: 10px;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

/* Implementation */

.implementations li {
  list-style-type: none;
}

.implementation .source .name {
  text-transform: capitalize;
}

/* Formatting for source code */

.source-code {
  color: green;
}
.source-code .code {
  font-family: 'Source Code Pro';
  font-size: 12px;
  padding: 10px;
  tab-size: 2;
  white-space: pre-wrap;
}
.source-code .commentary {
  color: gray;
  padding: 10px;
}

/* End formatting for source code */

footer {
  margin-top: 100px;
}