extends layout

block content
  include header
  .results
    if search.hits
      - var numResults = search.hits.length;
      if numResults
        - var resultsTitle = numResults + ' Result' + (numResults === 1 ? '' : 's');
        h2.results
          span.title= resultsTitle
          span.time= '(' + requestTime + ' seconds)'
          span.small.button.expand-hide Expand all
        include results
      else
        h2.results.title.empty= 'No search results for "' + query + '"!'
    else
      h2.results.title Please enter a query.
      .suggestions
        h3.title Example queries
        ul
          li: a(href='/?q=quicksort') quicksort
          li: a(href='/?q=md5') md5
          li: a(href='/?q=rot13') rot13
          li: a(href='/?q=tournament selection') tournament selection
          li: a(href='/?q=connect edges') connect edges
          li: a(href='/?q=matrix') matrix
        .ps
          em P.S.
          span  Don't worry about spelling, we will find results with the closest spelling!

  include footer
