doctype html
html
  head
    title AlgoDB
    link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/monokai-sublime.min.css")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/selectize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="/javascripts/selectize.min.js")
    script(src="/javascripts/index.js")
    script.
      hljs.initHighlightingOnLoad();
